<div class="content">
  <h2>{{ 'home.title' | translate }}</h2>
  <p>{{ 'home.description1' | translate }}</p>
  <p>{{ 'home.description2' | translate }}</p>
  <ul>
    <li>
      {{ 'home.feature1' | translate }}
    </li>
    <li>
      {{ 'home.feature2' | translate }}
    </li>
    <li>
      {{ 'home.feature3' | translate }}
    </li>
    <li>
      {{ 'home.feature4' | translate }}
    </li>
  </ul>
  <p>
    {{ 'home.description3' | translate }}
  </p>
</div>

<div class="action">
  <button mat-flat-button (click)="goToForm()" type="button">
    {{ 'home.startButton' | translate }}
  </button>
</div>
