<div class="content">
  <h2>Witaj w aplikacji do automatycznego tworzenia i wypełniania projektów w Jira!</h2>
  <p>Skonfiguruj swój nowy projekt w kilka kroków i pozwól aplikacji zająć się resztą.</p>
  <p>Narzędzie umożliwia:</p>
  <ul>
    <li>
      Szybkie generowanie projektów w Jira
    </li>
    <li>
      Automatyczne dodawanie sprintów, epik i zadań
    </li>
    <li>
      Przypisywanie zadań do epik oraz sprintów
    </li>
    <li>
      Możesz utworzyć nowy lub skorzystać ze swojego projektu
    </li>
  </ul>
  <p>Wystarczy, że wypełnisz podstawowe informacje w formularzu, a aplikacja zadba o utworzenie wszystkich niezbędnych elementów w Jira
  </p>
</div>

<div class="action">
  <button mat-flat-button (click)="goToForm()" type="button">Rozpocznij</button>
</div>
