@use '../styles/breakpoints' as *;

@media (min-width: $Medium) {
}

@media (min-width: $Large) {
}

@media (min-width: $XLarge) {
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .top-menu {
    padding: 1rem;
    background-color: #abc7ff;

    .title {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }

  .content {
    flex: 1;
    background-color: #f7f8fb;
    overflow-y: auto;
    padding: 1rem;
  }

  .footer {
    padding: 1.5rem;
    background-color: #abc7ff;
    text-align: center;
  }
}
