<button mat-raised-button (click)="showApiCalls = !showApiCalls">Show API</button>

<div *ngIf="showApiCalls">
  <br>
  <button mat-raised-button (click)="testApi()">Test API</button>
  <br><br>
  <button mat-raised-button (click)="getSprintZero()">Get sprint 0</button>
  <br><br>
  <button mat-raised-button (click)="createProject()">Create project</button>
  <br><br>
  <button mat-raised-button (click)="createSprint()">Create sprints</button>
  <br><br>
  <button mat-raised-button (click)="createIssues()">Create issues</button>
  <br><br>
</div>
