<div class="success-container">
  <mat-icon class="success-icon" fontIcon="check_circle"></mat-icon>
  <h3 class="text">
    {{ 'processSuccess.title' | translate }}
  </h3>

  @if (!isFileCreated) {
    <p class="text">
      {{ 'processSuccess.message' | translate }}
    </p>
  }

  @if (isFileCreated) {
    <div>
      <p>
        {{ 'processSuccess.hasSaveFileMessage' | translate }}
      </p>
      <ol>
        <li>{{ 'processSuccess.guideStep1' | translate }}</li>
        <li>{{ 'processSuccess.guideStep2' | translate }}</li>
        <li>{{ 'processSuccess.guideStep3' | translate }}</li>
        <li>{{ 'processSuccess.guideStep4' | translate }}</li>
        <li>{{ 'processSuccess.guideStep5' | translate }}</li>
        <li>{{ 'processSuccess.guideStep6' | translate }}</li>
      </ol>
    </div>
  }

  <div class="actions">
    @if (isFileCreated) {
      <button type="button" mat-fab extended class="action" (click)="onSaveFile()">
        <mat-icon class="save-file-icon" fontIcon="file_download"></mat-icon>
        {{ 'actions.saveFileForImportButton' | translate }}
      </button>
    }
    <button type="button" mat-flat-button class="action" (click)="openProject()">
      {{ 'actions.goToProjectButton' | translate }}
    </button>
  </div>

</div>
