@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/variables' as *;

$icon-mobile: 4rem;
$icon-desktop: 8rem;

.success-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
  @media (min-width: $Small) {
    margin: 6rem auto;
    width: 30rem;
  }

  .success-icon {
    color: $success;
    text-align: center;
    margin-bottom: 2rem;
    align-self: center;
    height: $icon-mobile;
    width: $icon-mobile;
    font-size: $icon-mobile;
    @media (min-width: $Small) {
      height: $icon-desktop;
      width: $icon-desktop;
      font-size: $icon-desktop;
    }
  }

  .text {
    text-align: center;
  }

  .action {
    margin-top: 1rem;
    align-self: center;
  }
}
