@use '../styles/breakpoints' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .top-menu {
    padding: 1rem 2rem;
    background-color: #d7e3ff;

    .title {
      font-size: 2rem;
      font-weight: 600;
      color: #005cbb;
    }
  }

  .content {
    flex: 1;
    background-color: #faf9fd;
    overflow-y: auto;
    padding: 1rem;
  }

  .footer {
    padding: 1.5rem;
    background-color: #d7e3ff;
    text-align: center;
    color: #005cbb;
    font-weight: 500;
  }
}
