<p>Witaj w aplikacji do automatycznego tworzenia i wypełniania projektów w Jira!

  Skonfiguruj swój nowy projekt w zaledwie kilka kroków i pozwól aplikacji zająć się resztą. Nasze narzędzie umożliwia:

  Szybkie generowanie projektów w Jira,
  Automatyczne dodawanie sprintów, epików i zadań,
  Przypisywanie zadań do epików oraz sprintów,
  Łatwe śledzenie postępu prac.
  Aby rozpocząć, wypełnij podstawowe informacje w formularzu głównym i naciśnij przycisk “Uruchom proces”. Aplikacja zadba o utworzenie wszystkich niezbędnych elementów w Jira, tak byś mógł od razu przejść do realizacji zadań.

  Udanej pracy!</p>
<button mat-flat-button (click)="goToForm()" type="button">Start</button>
