$primary: var(--mat-sys-on-secondary-container);
$secondary: var(--mat-sys-secondary-container);
$error: var(--mat-sys-error);
$success: #0d904f;
$warning: #ffcc00;
$font: var(--mat-sys-on-secondary-container);
$background: var(--mat-sys-surface-bright);



