@use "../../../../styles/breakpoints" as *;
@use "../../../../styles/variables" as *;

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @media (min-width: $Small) {
    width: 75%;
    margin-right: auto;
  }

  @media (min-width: $Medium) {
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: $Large) {
    width: 35%;
    margin: 0 auto;
  }

  mat-form-field {
    width: 100%;
  }

  .form-group-container {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}
