<form class="form-container" [formGroup]="form">

  <!-- <mat-form-field>
    <mat-label>
      {{ 'form.userInfoLogin' | translate }}
    </mat-label>
    <input formControlName="atlassianLogin" matInput (blur)="onBlur(f.atlassianLogin)" />
    @if (f.atlassianLogin.errors?.['required'] && f.atlassianLogin.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfoUserId' | translate }}
    </mat-label>
    <input formControlName="atlassianUserId" matInput (blur)="onBlur(f.atlassianUserId)" />
    @if (f.atlassianUserId.errors?.['required'] && f.atlassianUserId.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfoApiKey' | translate }}
    </mat-label>
    <input formControlName="atlassianApiKey" matInput (blur)="onBlur(f.atlassianApiKey)" />
    @if (f.atlassianApiKey.errors?.['required'] && f.atlassianApiKey.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.atlassianUserJiraUrl' | translate }}
    </mat-label>
    <input formControlName="atlassianUserJiraUrl" matInput (blur)="onBlur(f.atlassianUserJiraUrl)" />
    @if (f.atlassianUserJiraUrl.errors?.['required'] && f.atlassianUserJiraUrl.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>
      {{ 'form.geminiApiKey' | translate }}
    </mat-label>
    <input formControlName="geminiApiKey" matInput (blur)="onBlur(f.geminiApiKey)" />
    @if (f.geminiApiKey.errors?.['required'] && f.geminiApiKey.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.geminiMessage' | translate }}
    </mat-label>
    <textarea formControlName="geminiMessage" matInput (blur)="onBlur(f.geminiMessage)"></textarea>
    @if (f.geminiMessage.errors?.['required'] && f.geminiMessage.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <button (click)="onSubmit()" mat-flat-button type="submit" [disabled]="!form.valid">
    {{ 'actions.submitButton' | translate }}
  </button>
</form>
