<form class="form-container" [formGroup]="form">

  <h2>{{ 'form.jiraHeader' | translate }}</h2>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfoLogin' | translate }}
    </mat-label>
    <input formControlName="jiraLogin" matInput (blur)="onBlur(f.jiraLogin)" />
    @if (f.jiraLogin.errors?.['required'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.jiraLogin.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfoUserId' | translate }}
    </mat-label>
    <input formControlName="jiraUserId" matInput (blur)="onBlur(f.jiraUserId)" />
    @if (f.jiraUserId.errors?.['required'] && f.jiraUserId.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.jiraUserId.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfoApiKey' | translate }}
    </mat-label>
    <input formControlName="jiraApiKey" matInput (blur)="onBlur(f.jiraApiKey)" />
    @if (f.jiraApiKey.errors?.['required'] && f.jiraApiKey.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.jiraApiKey.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.jiraUserJiraUrl' | translate }}
    </mat-label>
    <input formControlName="jiraUserJiraUrl" matInput (blur)="onBlur(f.jiraUserJiraUrl)" />
    @if (f.jiraUserJiraUrl.errors?.['required'] && f.jiraUserJiraUrl.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.jiraUserJiraUrl.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <h2>{{ 'form.geminiHeader' | translate }}</h2>

  <mat-form-field>
    <mat-label>
      {{ 'form.geminiApiKey' | translate }}
    </mat-label>
    <input formControlName="geminiApiKey" matInput (blur)="onBlur(f.geminiApiKey)" />
    @if (f.geminiApiKey.errors?.['required'] && f.geminiApiKey.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.geminiApiKey.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <h2 class="project-title">{{ 'form.projectHeader' | translate }}</h2>
  <span class="project-hint">{{ 'form.projectHint' | translate }}</span>

  <mat-form-field>
    <mat-label>
      {{ 'form.geminiMessage' | translate }}
    </mat-label>
    <textarea rows="4" formControlName="geminiMessage" matInput (blur)="onBlur(f.geminiMessage)"></textarea>
    @if (f.geminiMessage.errors?.['required'] && f.geminiMessage.touched) {
      <mat-error>
        {{ 'form.validations.required' | translate }}
      </mat-error>
    }
    @if (f.geminiMessage.errors?.['maxlength'] && f.jiraLogin.touched) {
      <mat-error>
        {{ 'form.validations.maxlength' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <button (click)="onSubmit()" mat-flat-button type="submit" [disabled]="!form.valid">
    {{ 'actions.submitButton' | translate }}
  </button>
</form>
