<form class="form-container" [formGroup]="form">
  <h2>
    {{ 'form.userInfo.userInfoTitle' | translate }}
  </h2>
  <mat-form-field>
    <mat-label>
      {{ 'form.userInfo.userInfoLogin' | translate }}
    </mat-label>
    <input formControlName="atlassianLogin" matInput (blur)="onBlur(f.atlassianLogin)" />
    @if (f.atlassianLogin.errors?.['required'] && f.atlassianLogin.touched) {
      <mat-error>
        {{ 'form.userInfo.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfo.userInfoUserId' | translate }}
    </mat-label>
    <input formControlName="atlassianUserId" matInput (blur)="onBlur(f.atlassianUserId)" />
    @if (f.atlassianUserId.errors?.['required'] && f.atlassianUserId.touched) {
      <mat-error>
        {{ 'form.userInfo.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfo.userInfoApiKey' | translate }}
    </mat-label>
    <input formControlName="atlassianApiKey" matInput (blur)="onBlur(f.atlassianApiKey)" />
    @if (f.atlassianApiKey.errors?.['required'] && f.atlassianApiKey.touched) {
      <mat-error>
        {{ 'form.userInfo.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      {{ 'form.userInfo.atlassianUserJiraUrl' | translate }}
    </mat-label>
    <input formControlName="atlassianUserJiraUrl" matInput (blur)="onBlur(f.atlassianUserJiraUrl)" />
    @if (f.atlassianUserJiraUrl.errors?.['required'] && f.atlassianUserJiraUrl.touched) {
      <mat-error>
        {{ 'form.userInfo.validations.required' | translate }}
      </mat-error>
    }
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button (click)="onReset()">
      {{ 'actions.resetButton' | translate }}
    </button>
    <button (click)="onSubmit()" mat-flat-button type="submit" [disabled]="!form.valid">
      {{ 'actions.submitButton' | translate }}
    </button>
  </div>
</form>
