.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;

  mat-button-toggle-group {
    align-self: flex-start;
  }

  mat-form-field {
    min-width: 25rem;
  }
}
