<h1>Pomelo</h1>
<mat-divider></mat-divider>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="form-section">
      <h2>Projekt</h2>

      <mat-label>Czy chcesz założyć nowy projekt?</mat-label>
      <mat-button-toggle-group formControlName="isProjectNeeded" name="isProjectNeeded" aria-label="Is project needed">
        <mat-button-toggle value="yes">Tak</mat-button-toggle>
        <mat-button-toggle value="no">Nie</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field>
        <mat-label>Unikalny klucz twojego projektu np. KIWI</mat-label>
        <input formControlName="existingProjectKey" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input formControlName="projectName" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Opis</mat-label>
        <input formControlName="projectDescription" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unikalny klucz np. KIWI</mat-label>
        <input formControlName="projectKey" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Id użytkownika Atlassian</mat-label>
        <input formControlName="atlassianId" matInput />
      </mat-form-field>

      <mat-divider></mat-divider>
    </div>


    <div class="form-section">
      <h2>Sprinty</h2>

      <mat-form-field>
        <mat-label>Ilość sprintów</mat-label>
        <input type="number" formControlName="sprintsCount" min="0" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ile trwa sprint (zwykle od 7 do 30 dni)</mat-label>
        <input type="number" formControlName="sprintDuration" min="1" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data startu pierwszego sprintu</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="projectStartDate">
        <mat-hint>dzień.miesiąc.rok</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-divider></mat-divider>
    </div>
    <div class="form-section">
      <h2>Epiki</h2>

      <mat-label>Czy chcesz aby projekt zawierał epiki?</mat-label>
      <mat-button-toggle-group formControlName="isEpicNeeded" name="epics" aria-label="Epics">
        <mat-button-toggle value="yes">Tak</mat-button-toggle>
        <mat-button-toggle value="no">Nie</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field>
        <mat-label>Ilość epik</mat-label>
        <input type="number" formControlName="EpicsCount" min="0" matInput />
      </mat-form-field>
    </div>

    <div class="form-section">
      <h2>Zadania</h2>

      <mat-form-field>
        <mat-label>Ilość zadań</mat-label>
        <input type="number" formControlName="IssuesCount" min="0" matInput />
      </mat-form-field>
    </div>

    <div class="form-section" formGroupName="issuesTypes">
      <mat-label>Rodzaj zadań (przynajmniej jedno musi być zaznaczone)</mat-label>
      <mat-checkbox formControlName="story">Story</mat-checkbox>
      <mat-checkbox formControlName="bug">Bug</mat-checkbox>
      <mat-checkbox formControlName="task">Task</mat-checkbox>
    </div>

    <button mat-raised-button type="submit" [disabled]="!form.valid">Rozpocznij</button>
  </div>
</form>
